# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [12]:
CREATE TABLE JunkDB_STL_May2023.venkata.planned_makes
(Sequence_num  varchar(10) PRIMARY KEY,
name varchar(50),
description varchar(50),
recipe varchar(5000));

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'planned_makes' in the database.

Add three rows to your table that are your planned makes.

In [20]:
insert into JunkDB_STL_May2023.venkata.planned_makes
values ('1','Chicken','Chicken Curry','Chicken Biryani');

insert into JunkDB_STL_May2023.venkata.planned_makes
values ('2','Goat','Goat Curry','Goat Biryani');

insert into JunkDB_STL_May2023.venkata.planned_makes
values ('3','Shrimp','Shrimp Curry','Shrimp Biryani');

insert into JunkDB_STL_May2023.venkata.planned_makes
values ('4','Fish','Fish Curry','Fish Biryani');

--Select *  from JunkDB_STL_May2023.venkata.planned_makes;

Sequence_num,name,description,recipe
1,Chicken,Chicken Curry,Chicken Biryani
2,Goat,Goat Curry,Goat Biryani
3,Shrimp,Shrimp Curry,Shrimp Biryani
4,Fish,Fish Curry,Fish Biryani

## Update a Row

Change different values in one of your three rows.

In [26]:
UPDATE  JunkDB_STL_May2023.venkata.planned_makes
SET name = 'mutton', description= 'mutton curry', recipe = 'mutton biryani' WHERE name = 'mutton';

Select *  from JunkDB_STL_May2023.venkata.planned_makes;

Sequence_num,name,description,recipe
1,Chicken,Chicken Curry,Chicken Biryani
2,Goat,Goat Curry,Goat Biryani
3,Shrimp,Shrimp Curry,Shrimp Biryani
4,mutton,mutton curry,mutton biryani

## Delete a Row

Delete one of the rows from your table.

In [30]:
DELETE from JunkDB_STL_May2023.venkata.planned_makes
WHERE name = 'shrimp'; 

Select *  from JunkDB_STL_May2023.venkata.planned_makes;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'JunkDB_STL_May2023.venkata.planned_makes'.

## Drop the Table

While this has been fun, it is time to drop the table!

In [32]:
DROP table JunkDB_STL_May2023.venkata.planned_makes;

: Msg 3701, Level 11, State 5, Line 1
Cannot drop the table 'JunkDB_STL_May2023.venkata.planned_makes', because it does not exist or you do not have permission.